<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-5">Bienvenido a Reparame</h1>
            <h3 class="mb-1">
                <em>Potencia tu trabajo, inscribete con nosotros</em>
            </h3>
            <a href="/signup" class="btn btn-primary mb-5">Registrase como Técnico</a>
            
            <h3 class="mb-1">
                <em>Encuentra ese servicio técnico que estas buscando</em>
                
            </h3>
            <a href="/signup" class="btn btn-primary">Registrase como Cliente</a>
        </div>
    </header>
</main>