<div class="container p-4">
    <div class="row">
       
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    
                        <h3 class="card-tittle text-uppercase">
                            Gasfiteria
                        </h3>
                        <p class="m-2">Problemas del hogar</p>
                    <a href="/links/search/1" class="btn btn-primary">Buscar</a>
                    
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    
                        <h3 class="card-tittle text-uppercase">
                            Electricidad
                        </h3>
                        <p class="m-2">Problemas del hogar</p>
                    <a href="/links/search/2" class="btn btn-primary">Buscar</a>
                    
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    
                        <h3 class="card-tittle text-uppercase">
                            Carpinteria
                        </h3>
                        <p class="m-2">Problemas del hogar</p>
                    <a href="/links/search/1" class="btn btn-primary">Buscar</a>
                    
                </div>
            </div>
        </div>

    
        
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    
                        <h3 class="card-tittle text-uppercase">
                            Jardinería
                        </h3>
                        <p class="m-2">Problemas del hogar</p>
                    <a href="/links/search/1" class="btn btn-primary">Buscar</a>
                    
                </div>
            </div>
        </div>
        
      {{!--   <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>No tiene ninguna Solicitud en Proceso</p>
                <a href="/links/add" class="btn btn-primary m-4">Buscar un Servicio</a>
            </div>
        </div> --}}
       
        
    </div>
</div> 